@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.error-message {
    color: #F00;
}

form input[name='occupationOther'] {
    display: none;
}
